.osn {
    background-color: rgb(51, 51, 51);
    width: 100%;
    height: 1500px;
    padding: 60px 0;
}

.ret {
    background-color: black;
    width: 100%;
    height: 50px;
}

.text1 {
    color: white;
    width: 500px;
    height: 100px;
    margin-left: 850px;
    font-family: 'Roboto Condensed', sans-serif;
}

h1 {
    margin: 0 auto;
}

h1 span::after {
    content: "";
    position: absolute;
    left: 14px;
    bottom: 0;
    height: 2px;
    width: 70px;
    background-color: #ffee00;
    padding: 0px;
    margin: -13px;
}

h1 span {
    position: relative;
}

.speak {
    width: 450px;
}

.box1 {}

.box2 {
    display: flex;
}

#footer {
    left: 5px;
    bottom: 5px;
    /* Левый нижний угол */
}

.text2 {
    color: white;
    width: 500px;
    height: 100px;
    margin-left: 160px;
    font-family: 'Roboto Condensed', sans-serif;
    padding-top: 10px;
    margin-top: -36px;
}

.text3 {
    color: white;
    width: 500px;
    height: 100px;
    margin-left: 160px;
    font-family: 'Roboto Condensed', sans-serif;
    padding-top: 10px;
    margin-top: -1270px;
}

.text4 {
    color: white;
    width: 500px;
    height: 100px;
    margin-left: 850px;
    font-family: 'Roboto Condensed', sans-serif;
    margin-top: -100px;
}
.lil{
    width: 100%;
    height: 100px;
    color: gray;
    padding-left: 560px;
    padding-top: 16px;
    font-family: 'Roboto Condensed', sans-serif;
}
.knopka img{
    width: 100px;
    height: 100px;
}
.vivo{
    padding-left: 269px;
    margin-top: -50px;
}
.fakt{
    padding-left: 1070px;
    margin-top: -21px;
}
.li::before{
    background: yellow;
    width: 100px;
    height: 100px;
    position: relative;
    content: "";
}
